
<div class="row">
  <div class="columns small 12 text-center">
    <h1><%= @user.name %>, keep it up! </h1>
  </div>
</div>

<div class="columns small-6 right">
  <% if current_user %>
    Did you sit up straight today?:
    <br>
    <%= link_to 'Yes, I kicked booty', user_checkins_path(@user), class: 'checkin' %>
    <span class= 'checkin-total'>
      <% @user.checkins.each do |checkin| %>
        <%= checkin.count %> days total
      <% end %>
    </span>
  <% end %>
</div>
<br>
<br>
<br>
  <div class="row">
    <% current_user.badges.each do |badge| %>
    <%= image_tag (badge.custom_fields[:image]) %>
    <% end %>
</div>
</ul>
<br>
<br>
<br>
<div class="row">
<% if current_user.admin? %>
    <%= link_to 'All Users', users_path %>
<% end %>
</div>
