<div class="container">
  <div class="row">
    <div class="small-12 columns">
    <%= form_for @user do |f| %>
          <%= f.label :phone, "Add your number to start receiving texts" %>
          <%= f.text_field :phone, class: "text-field" %>

          <%= f.label :name, "We'd love to put your name to your number" %>
          <%= f.text_field :name, class: "text-field" %>

          <%= f.submit "Submit", class: "submit-form" "tiny button" %>
    <% end %>
    </div>
  </div>
</div>
