<div class="picture-container">
  <h2>Welcome to PosturePal</h2>
    <% if current_user %>
      <h4><%= link_to 'Go to my page', user_path(@user) %></h4>
    <% end %>
</div>
<div class="row full-width left-text intro-page">
    <div class="row full-width tall-box">
      <div class="columns small-4 text-center">
        <h1> Receive alerts </h1>
        <%= fa_icon "bell 3x" %>
        <br>
        <br>
        <% if current_user %>
          <% if @user.phone == nil %>
            <%= render partial: 'form', object: @user %>
          <% end %>
        <% end %>
      </div>

    <div class="columns small-4 text-center">
     <h1> Learn the exercises  </h1>
     <%= fa_icon "book 3x" %>
     <br>
     <br>
     <% if current_user %>
       <ul>
       <% @exercises.each do |exercise| %>
         <li><%= link_to exercise.name, exercise_path(exercise) %></li>
       <% end %>
        </ul>
     <% end %>
    </div>

    <div class="columns small-4 text-center">
     <h1> Stand tall </h1>
      <%= fa_icon "thumbs-up 3x" %>
    </div>
  </div>
</div>

<div class="row story text-center">
  <h3>The PosturePal Story</h3>
    <p> Hello there! Welcome to PosturePal. PosturePal was started by me, a physical therapist. I found that most of my patients coming to see me for neck and back pain, sat most of the day and generally had poor posture. It is so difficult to remember to practice good posture throughout the day, and I came up with PosturePal to take the thinking out of the equation. Sign up with your name and phone number and you will receive texts 3 times a day with a link to an exercise. The exercises are simple and can be performed while sitting at your desk without drawing attention to yourself. Come on, I dare you to. You'll be a pro in no time.
    </p>
    <p>In good health,</p>
    <div class="cursive">
      <i>Ali Garmisa</i>
    </div>
</div>
